@model Kafen.Models.RecuperarViewModel
@{
    Layout = null;
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="~/css/EmpezarRecuperar.css" rel = "stylesheet" />
<link href="~/js/EmpezarRecuperar.js" />
<!------ Include the above in your HEAD tag ---------->

<!-- All the files that are required -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />


<div class="text-center" style="padding:50px 0">
	<div class="logo">Ingresa la nueva contraseña</div>
	<!-- Main Form -->
	<div class="login-form-1">
		<form action = "@Url.Action("Recuperar", "Home")" method = "post" id="login-form" class="text-left">
		
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="Email" class="sr-only">Contraseña</label>
						<input type="password" class="form-control" id="Contraseña" name="Contraseña" placeholder="Contraseña" maxlength = "12">
					@Html.ValidationMessageFor(d=>d.Contraseña, null, new{style = "color:red;"})
					</div>
					<div class="form-group">
						<label for="Email" class="sr-only">Confirmar Contraseña</label>
						<input type="password" class="form-control" id="Confirmar_Contraseña" name="ConfirmarContraseña" placeholder="Confirmar Contraseña" maxlength = "12">
					@Html.ValidationMessageFor(d=>d.ConfirmarContraseña, null, new{style = "color:red;"})

					</div>
					
				
				</div>
				<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
			</div>
		
		</form>
	</div>
	<!-- end:Main Form -->
</div>

